header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  height: 4.5em;
  background: #ededed;
  font-variant: petite-caps;

  #title {
    margin-left: 1.5em;
    letter-spacing: 1px;
    cursor: default;

    #main-title {
      font-size: 1.25em;
      font-weight: 700;
    }

    #sub-title {
      font-size: 0.8125em;
      color: #a2a2a2;
    }
  }

  #avatar {
    margin-right: 1.5em;

    ngx-avatar {
      ::ng-deep {
        .avatar-container {
          .avatar-content {
            cursor: pointer;
            transition: 0.3s;

            &:hover {
              background-color: #495059 !important;
            }
          }
        }
      }
    }

    .dropdown {
      .dropdown-menu {
        min-width: 18em;

        a {
          &:hover {
            background-color: #eeeeee;
          }

          &.dropdown-item {
            padding-left: 0.5em;
            transition: 0.3s;
            cursor: pointer;

            &:active {
              background-color: #e0e0e0;
              color: #000000;
            }

            .content {
              display: flex;

              span {
                &:nth-child(1) {
                  width: 3em;
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }
  }
}
