#default-info {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-variant: petite-caps;

  .content {
    width: 70%;

    #info-label {
      text-align: center;
      color: #e53935;
    }
  }
}
