<ng-sidebar-container>
  <ng-sidebar
    [(opened)]="isOpened"
    [dock]="isDocked"
    [animate]="isAnimate"
    [mode]="mode"
    [position]="position"
    [dockedSize]="dockedSize"
    [autoCollapseWidth]="autoCollapseWidthSize"
  >
    <div *ngIf="isOpened">
      <app-opened-sidebar (toggleEvent)="onToggleSwitch($event)"> </app-opened-sidebar>
    </div>
    <div *ngIf="!isOpened">
      <app-closed-sidebar (toggleEvent)="onToggleSwitch($event)"> </app-closed-sidebar>
    </div>
  </ng-sidebar>

  <div ng-sidebar-content>
    <ng-content></ng-content>
  </div>
</ng-sidebar-container>
